
ControleEstoque/ControleEstoque/bin/

ControleEstoque/ControleEstoque/obj/

ControleEstoque/ControleEstoque\.Android/bin/

ControleEstoque/ControleEstoque\.Android/obj/

ControleEstoque/ControleEstoque\.iOS/obj/

ControleEstoque/ControleEstoque\.iOS/bin/
